openapi: 3.0.1
info:
  contact:
    name: FutureVuls
    url: https://futurevuls.tayori.com/form/1dd23480d6f0f7a0dd066f03be8ed7d1b41d10e7
  description: Future Vuls Public API
  title: Future Vuls Public API
  version: v1
servers:
- url: //rest.vuls.biz/
paths:
  /health:
    get:
      description: health
      externalDocs:
        description: Health
        url: https://vuls.biz/
      operationId: health#health
      responses:
        "200":
          content:
            application/json:
              schema:
                type: boolean
            application/xml:
              schema:
                type: boolean
            application/gob:
              schema:
                type: boolean
          description: OK response.
      summary: health health
      tags:
      - health
  /v1/cve/{cveID}:
    get:
      description: cve detail
      externalDocs:
        description: Get Cve Detail
        url: https://vuls.biz/
      operationId: cve#getCveDetail
      parameters:
      - description: Cve ID
        in: path
        name: cveID
        required: true
        schema:
          type: string
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CveGetCveDetailResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/CveGetCveDetailResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/CveGetCveDetailResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: getCveDetail cve
      tags:
      - cve
  /v1/cves:
    get:
      description: cve list
      externalDocs:
        description: Get Cve List
        url: https://vuls.biz/
      operationId: cve#getCveList
      parameters:
      - description: Page Number
        in: query
        name: page
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: Limit
        in: query
        name: limit
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
      - description: Offset
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: ServerID filter
        in: query
        name: filterServerID
        schema:
          minimum: 1
          type: integer
      - description: ServerRoleID filter
        in: query
        name: filterRoleID
        schema:
          minimum: 1
          type: integer
      - description: PackageID filter
        in: query
        name: filterPkgID
        schema:
          minimum: 1
          type: integer
      - description: CpeID filter
        in: query
        name: filterCpeID
        schema:
          minimum: 1
          type: integer
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CveGetCveListResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/CveGetCveListResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/CveGetCveListResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: getCveList cve
      tags:
      - cve
  /v1/lockfile:
    post:
      description: add lockfile
      externalDocs:
        description: Add Lockfile
        url: https://vuls.biz/
      operationId: lockfile#addLockfile
      parameters:
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LockfileAddLockfileRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/LockfileAddLockfileRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/LockfileAddLockfileRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockfileAddLockfileResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/LockfileAddLockfileResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/LockfileAddLockfileResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: addLockfile lockfile
      tags:
      - lockfile
      x-codegen-request-body-name: AddLockfileRequestBody
  /v1/lockfile/{lockfileID}:
    delete:
      description: lockfile delete
      externalDocs:
        description: Delete Lockfile
        url: https://vuls.biz/
      operationId: lockfile#deleteLockfile
      parameters:
      - description: Lockfile ID
        in: path
        name: lockfileID
        required: true
        schema:
          format: int64
          type: integer
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: deleteLockfile lockfile
      tags:
      - lockfile
    get:
      description: lockfile detail
      externalDocs:
        description: Get Lockfile Detail
        url: https://vuls.biz/
      operationId: lockfile#getLockfileDetail
      parameters:
      - description: Lockfile ID
        in: path
        name: lockfileID
        required: true
        schema:
          format: int64
          type: integer
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockfileGetLockfileDetailResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/LockfileGetLockfileDetailResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/LockfileGetLockfileDetailResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: getLockfileDetail lockfile
      tags:
      - lockfile
    put:
      description: update lockfile
      externalDocs:
        description: Update Lockfile
        url: https://vuls.biz/
      operationId: lockfile#updateLockfile
      parameters:
      - description: Lockfile ID
        in: path
        name: lockfileID
        required: true
        schema:
          format: int64
          type: integer
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LockfileUpdateLockfileRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/LockfileUpdateLockfileRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/LockfileUpdateLockfileRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockfileUpdateLockfileResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/LockfileUpdateLockfileResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/LockfileUpdateLockfileResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: updateLockfile lockfile
      tags:
      - lockfile
      x-codegen-request-body-name: UpdateLockfileRequestBody
  /v1/lockfiles:
    get:
      description: lockfile list
      externalDocs:
        description: Get Lockfile List
        url: https://vuls.biz/
      operationId: lockfile#getLockfileList
      parameters:
      - description: Page Number
        in: query
        name: page
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: Limit
        in: query
        name: limit
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
      - description: Offset
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: ServerID filter
        in: query
        name: filterServerID
        schema:
          format: int64
          type: integer
      - description: Path filter
        in: query
        name: filterPath
        schema:
          type: string
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockfileGetLockfileListResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/LockfileGetLockfileListResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/LockfileGetLockfileListResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: getLockfileList lockfile
      tags:
      - lockfile
  /v1/pkgCpe/cpe:
    delete:
      description: "[deprecated] urlにcpeIDを指定して利用してください。cpeIDの指定のないこちらのアクセス方法は今後削除\
        されます。"
      externalDocs:
        description: Delete cpe Detail
        url: https://vuls.biz/
      operationId: pkgCpe#deleteCpe_deprecated
      parameters:
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PkgCpeDeleteCpeDeprecatedRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/PkgCpeDeleteCpeDeprecatedRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/PkgCpeDeleteCpeDeprecatedRequestBody'
        required: true
      responses:
        "200":
          content: {}
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: deleteCpe_deprecated pkgCpe
      tags:
      - pkgCpe
      x-codegen-request-body-name: deleteCpe_deprecated_request_body
    post:
      description: add cpe
      externalDocs:
        description: Add cpe
        url: https://vuls.biz/
      operationId: pkgCpe#addCpe
      parameters:
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PkgCpeAddCpeRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/PkgCpeAddCpeRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/PkgCpeAddCpeRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PkgCpeAddCpeResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/PkgCpeAddCpeResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/PkgCpeAddCpeResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: addCpe pkgCpe
      tags:
      - pkgCpe
      x-codegen-request-body-name: AddCpeRequestBody
  /v1/pkgCpe/cpe/{cpeID}:
    delete:
      description: delete cpe (urlにcpeIDを指定してください。cpeIDの指定のないアクセス方法は今後削除されます。)
      externalDocs:
        description: Delete cpe Detail
        url: https://vuls.biz/
      operationId: pkgCpe#deleteCpe
      parameters:
      - description: cpe ID
        in: path
        name: cpeID
        required: true
        schema:
          format: int64
          type: integer
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: deleteCpe pkgCpe
      tags:
      - pkgCpe
    get:
      description: cpe detail
      externalDocs:
        description: Get cpe Detail
        url: https://vuls.biz/
      operationId: pkgCpe#getCpeDetail
      parameters:
      - description: cpe ID
        in: path
        name: cpeID
        required: true
        schema:
          format: int64
          type: integer
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PkgCpeGetCpeDetailResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/PkgCpeGetCpeDetailResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/PkgCpeGetCpeDetailResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: getCpeDetail pkgCpe
      tags:
      - pkgCpe
  /v1/pkgCpe/pkg/{pkgID}:
    get:
      description: pkg detail
      externalDocs:
        description: Get Pkg Detail
        url: https://vuls.biz/
      operationId: pkgCpe#getPkgDetail
      parameters:
      - description: PackageID
        in: path
        name: pkgID
        required: true
        schema:
          format: int64
          type: integer
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PkgCpeGetPkgDetailResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/PkgCpeGetPkgDetailResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/PkgCpeGetPkgDetailResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: getPkgDetail pkgCpe
      tags:
      - pkgCpe
  /v1/pkgCpes:
    get:
      description: pkgCpe list
      externalDocs:
        description: Get PkgCpe List. Calling pkgCpes without filters can be very
          time-consuming. It is recommended that you specify filter as much as possible.
        url: https://vuls.biz/
      operationId: pkgCpe#getPkgCpeList
      parameters:
      - description: Page Number
        in: query
        name: page
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: Limit
        in: query
        name: limit
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
      - description: Offset
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: CveID filter
        in: query
        name: filterCveID
        schema:
          type: string
      - description: TaskID filter
        in: query
        name: filterTaskID
        schema:
          minimum: 1
          type: integer
      - description: ServerID filter
        in: query
        name: filterServerID
        schema:
          minimum: 1
          type: integer
      - description: ServerRoleID filter
        in: query
        name: filterRoleID
        schema:
          minimum: 1
          type: integer
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PkgCpeGetPkgCpeListResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/PkgCpeGetPkgCpeListResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/PkgCpeGetPkgCpeListResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: getPkgCpeList pkgCpe
      tags:
      - pkgCpe
  /v1/role/{roleID}:
    delete:
      description: role delete
      externalDocs:
        description: Delete Role
        url: https://vuls.biz/
      operationId: role#deleteRole
      parameters:
      - description: Role ID
        in: path
        name: roleID
        required: true
        schema:
          format: int64
          type: integer
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: deleteRole role
      tags:
      - role
    get:
      description: role detail
      externalDocs:
        description: Get Role Detail
        url: https://vuls.biz/
      operationId: role#getRoleDetail
      parameters:
      - description: Role ID
        in: path
        name: roleID
        required: true
        schema:
          format: int64
          type: integer
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleGetRoleDetailResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/RoleGetRoleDetailResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/RoleGetRoleDetailResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: getRoleDetail role
      tags:
      - role
    put:
      description: update role
      externalDocs:
        description: Update Role
        url: https://vuls.biz/
      operationId: role#updateRole
      parameters:
      - description: Role ID
        in: path
        name: roleID
        required: true
        schema:
          format: int64
          type: integer
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleUpdateRoleRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/RoleUpdateRoleRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/RoleUpdateRoleRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleUpdateRoleResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/RoleUpdateRoleResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/RoleUpdateRoleResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: updateRole role
      tags:
      - role
      x-codegen-request-body-name: UpdateRoleRequestBody
  /v1/roles:
    get:
      description: role list
      externalDocs:
        description: Get Role List
        url: https://vuls.biz/
      operationId: role#getRoleList
      parameters:
      - description: "Page Number (default: 1)"
        in: query
        name: page
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: "Limit (default: 20, max: 100)"
        in: query
        name: limit
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
      - description: Offset
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: CveID filter
        in: query
        name: filterCveID
        schema:
          type: string
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleGetRoleListResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/RoleGetRoleListResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/RoleGetRoleListResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: getRoleList role
      tags:
      - role
  /v1/server/paste:
    post:
      description: create paste server
      externalDocs:
        description: Create Paste Server
        url: https://vuls.biz/
      operationId: server#createPkgPasteServer
      parameters:
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerCreatePkgPasteServerRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServerCreatePkgPasteServerRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/ServerCreatePkgPasteServerRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerCreatePkgPasteServerResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServerCreatePkgPasteServerResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/ServerCreatePkgPasteServerResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: createPkgPasteServer server
      tags:
      - server
      x-codegen-request-body-name: CreatePkgPasteServerRequestBody
  /v1/server/paste/{serverID}:
    put:
      description: update paste server
      externalDocs:
        description: Update Paste Server
        url: https://vuls.biz/
      operationId: server#updatePkgPasteServer
      parameters:
      - description: Server ID
        in: path
        name: serverID
        required: true
        schema:
          format: int64
          type: integer
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerUpdatePkgPasteServerRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServerUpdatePkgPasteServerRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/ServerUpdatePkgPasteServerRequestBody'
        required: true
      responses:
        "200":
          content: {}
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: updatePkgPasteServer server
      tags:
      - server
      x-codegen-request-body-name: UpdatePkgPasteServerRequestBody
  /v1/server/uuid/{serverUuid}:
    get:
      description: server detail by UUID
      externalDocs:
        description: Get Server Detail
        url: https://vuls.biz/
      operationId: server#getServerDetailByUUID
      parameters:
      - description: Server UUID
        in: path
        name: serverUuid
        required: true
        schema:
          type: string
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerGetServerDetailByUUIDResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServerGetServerDetailByUUIDResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/ServerGetServerDetailByUUIDResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: getServerDetailByUUID server
      tags:
      - server
  /v1/server/{serverID}:
    delete:
      description: server delete
      externalDocs:
        description: Delete Server
        url: https://vuls.biz/
      operationId: server#deleteServer
      parameters:
      - description: Server ID
        in: path
        name: serverID
        required: true
        schema:
          format: int64
          type: integer
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: deleteServer server
      tags:
      - server
    get:
      description: server detail
      externalDocs:
        description: Get Server Detail
        url: https://vuls.biz/
      operationId: server#getServerDetail
      parameters:
      - description: Server ID
        in: path
        name: serverID
        required: true
        schema:
          format: int64
          type: integer
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerGetServerDetailResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServerGetServerDetailResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/ServerGetServerDetailResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: getServerDetail server
      tags:
      - server
    put:
      description: update server
      externalDocs:
        description: Update Server
        url: https://vuls.biz/
      operationId: server#updateServer
      parameters:
      - description: Server ID
        in: path
        name: serverID
        required: true
        schema:
          format: int64
          type: integer
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerUpdateServerRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServerUpdateServerRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/ServerUpdateServerRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerUpdateServerResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServerUpdateServerResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/ServerUpdateServerResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: updateServer server
      tags:
      - server
      x-codegen-request-body-name: UpdateServerRequestBody
  /v1/servers:
    get:
      description: server list
      externalDocs:
        description: Get Server List
        url: https://vuls.biz/
      operationId: server#getServerList
      parameters:
      - description: Page Number
        in: query
        name: page
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: Limit
        in: query
        name: limit
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
      - description: Offset
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: CveID filter
        in: query
        name: filterCveID
        schema:
          type: string
      - description: ServerRoleID filter
        in: query
        name: filterRoleID
        schema:
          minimum: 1
          type: integer
      - description: ServerTagName filter
        in: query
        name: filterTagName
        schema:
          type: string
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerGetServerListResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServerGetServerListResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/ServerGetServerListResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: getServerList server
      tags:
      - server
  /v1/task/{taskID}:
    get:
      description: task detail
      externalDocs:
        description: Get Task Detail
        url: https://vuls.biz/
      operationId: task#getTaskDetail
      parameters:
      - description: Task ID
        in: path
        name: taskID
        required: true
        schema:
          format: int64
          type: integer
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskGetTaskDetailResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskGetTaskDetailResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/TaskGetTaskDetailResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: getTaskDetail task
      tags:
      - task
    put:
      description: update task
      externalDocs:
        description: Update Task
        url: https://vuls.biz/
      operationId: task#updateTask
      parameters:
      - description: Task ID
        in: path
        name: taskID
        required: true
        schema:
          format: int64
          type: integer
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskUpdateTaskRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/TaskUpdateTaskRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/TaskUpdateTaskRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskUpdateTaskResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskUpdateTaskResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/TaskUpdateTaskResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: updateTask task
      tags:
      - task
      x-codegen-request-body-name: UpdateTaskRequestBody
  /v1/task/{taskID}/comment:
    post:
      description: add task comment
      externalDocs:
        description: Add Task Comment
        url: https://vuls.biz/
      operationId: task#addTaskComment
      parameters:
      - description: Task ID
        in: path
        name: taskID
        required: true
        schema:
          format: int64
          type: integer
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskAddTaskCommentRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/TaskAddTaskCommentRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/TaskAddTaskCommentRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskAddTaskCommentResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskAddTaskCommentResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/TaskAddTaskCommentResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: addTaskComment task
      tags:
      - task
      x-codegen-request-body-name: AddTaskCommentRequestBody
  /v1/task/{taskID}/ignore:
    put:
      description: update task ignore
      externalDocs:
        description: Update Task Ignore
        url: https://vuls.biz/
      operationId: task#updateTaskIgnore
      parameters:
      - description: Task ID
        in: path
        name: taskID
        required: true
        schema:
          format: int64
          type: integer
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskUpdateTaskIgnoreRequestBody'
          application/xml:
            schema:
              $ref: '#/components/schemas/TaskUpdateTaskIgnoreRequestBody'
          application/gob:
            schema:
              $ref: '#/components/schemas/TaskUpdateTaskIgnoreRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskUpdateTaskIgnoreResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskUpdateTaskIgnoreResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/TaskUpdateTaskIgnoreResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: updateTaskIgnore task
      tags:
      - task
      x-codegen-request-body-name: UpdateTaskIgnoreRequestBody
  /v1/tasks:
    get:
      description: task list
      externalDocs:
        description: Get Task List
        url: https://vuls.biz/
      operationId: task#getTaskList
      parameters:
      - description: Page Number
        in: query
        name: page
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: Limit
        in: query
        name: limit
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
      - description: Offset
        in: query
        name: offset
        schema:
          default: 0
          minimum: 0
          type: integer
      - description: Status filter
        explode: true
        in: query
        name: filterStatus
        schema:
          default: "[\"new\",\"investigating\",\"ongoing\"]"
          items:
            enum:
            - new
            - investigating
            - ongoing
            - not_affected
            - risk_accepted
            - workaround
            - patch_applied
            type: string
          type: array
        style: form
      - description: Priority filter
        explode: true
        in: query
        name: filterPriority
        schema:
          items:
            enum:
            - none
            - high
            - medium
            - low
            type: string
          type: array
        style: form
      - description: Ignore filter(trueの場合は、非表示のものを取得しない。falseの場合は全件取得)
        in: query
        name: filterIgnore
        schema:
          type: boolean
      - description: MainUserIDs filter
        explode: true
        in: query
        name: filterMainUserIDs
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: SubUserIDs filter
        explode: true
        in: query
        name: filterSubUserIDs
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: CveID filter
        in: query
        name: filterCveID
        schema:
          type: string
      - description: ServerID filter
        in: query
        name: filterServerID
        schema:
          minimum: 1
          type: integer
      - description: ServerRoleID filter
        in: query
        name: filterRoleID
        schema:
          minimum: 1
          type: integer
      - description: PackageID filter
        in: query
        name: filterPkgID
        schema:
          minimum: 1
          type: integer
      - description: CpeID filter
        in: query
        name: filterCpeID
        schema:
          minimum: 1
          type: integer
      - description: api key auth
        in: header
        name: Authorization
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskGetTaskListResponseBody'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaskGetTaskListResponseBody'
            application/gob:
              schema:
                $ref: '#/components/schemas/TaskGetTaskListResponseBody'
          description: OK response.
      security:
      - api_key_header_Authorization: []
      summary: getTaskList task
      tags:
      - task
components:
  schemas:
    AdvisoryResponseBody:
      description: Advisory describes a advisory
      example:
        advisoryID: advisoryID
        osFamily: redhat
      properties:
        advisoryID:
          description: AdvisoryID of advisory
          example: advisoryID
          type: string
        osFamily:
          description: osFamily of advisory
          example: redhat
          type: string
      required:
      - advisoryID
      - osFamily
      title: AdvisoryResponseBody
      type: object
    AffectedProcResponseBody:
      example:
        name: apache
        pid: "12"
      properties:
        name:
          description: AffectedProc Name
          example: apache
          type: string
        pid:
          description: PID
          example: "12"
          type: string
      required:
      - name
      - pid
      title: AffectedProcResponseBody
      type: object
    ChildTaskResponseBody:
      example:
        applyingPatchOn: 2018-07-13
        createdAt: 2018-07-14T08:13:28Z
        cveID: CVE-2017-6799
        id: 1
        ignore: true
        ignoreUntil: vector
        mainUserID: 1
        mainUserName: main-user-name
        priority: high
        serverID: 1
        status: new
        subUserID: 1
        subUserName: sub-user-name
        updatedAt: 2018-07-14T08:13:28Z
      properties:
        applyingPatchOn:
          description: ApplyingPatchOn of task
          example: 2018-07-13
          format: date
          type: string
        createdAt:
          description: created time of task
          example: 2018-07-14T08:13:28Z
          format: date-time
          type: string
        cveID:
          description: CVE ID of task
          example: CVE-2017-6799
          type: string
        id:
          description: ID of task
          example: 1
          format: int64
          type: integer
        ignore:
          description: Ignore of task
          example: true
          type: boolean
        ignoreUntil:
          description: Ignore until of task
          example: vector
          type: string
        mainUserID:
          description: MainUserID of task
          example: 1
          format: int64
          type: integer
        mainUserName:
          description: MainUserName of task
          example: main-user-name
          type: string
        priority:
          description: Priority of task
          example: high
          type: string
        serverID:
          description: ServerID of task
          example: 1
          format: int64
          type: integer
        status:
          description: Status of task
          example: new
          type: string
        subUserID:
          description: SubUserID of task
          example: 1
          format: int64
          type: integer
        subUserName:
          description: SubUserName of task
          example: sub-user-name
          type: string
        updatedAt:
          description: updated time of task
          example: 2018-07-14T08:13:28Z
          format: date-time
          type: string
      required:
      - createdAt
      - cveID
      - id
      - ignore
      - priority
      - serverID
      - status
      - updatedAt
      title: ChildTaskResponseBody
      type: object
    CveGetCveDetailResponseBody:
      example:
        advisories:
        - advisoryID: advisoryID
          osFamily: redhat
        - advisoryID: advisoryID
          osFamily: redhat
        - advisoryID: advisoryID
          osFamily: redhat
        - advisoryID: advisoryID
          osFamily: redhat
        createdAt: 2018-07-14T08:13:28Z
        cveID: CVE-2018-1234
        cvss: Et aut quae vero fugit.
        cwes:
        - cweID: CWE-416
          english: english summary
          japanese: japanese summary
          owaspTopTen2017: "10"
          sourceType: nvd
        - cweID: CWE-416
          english: english summary
          japanese: japanese summary
          owaspTopTen2017: "10"
          sourceType: nvd
        - cweID: CWE-416
          english: english summary
          japanese: japanese summary
          owaspTopTen2017: "10"
          sourceType: nvd
        - cweID: CWE-416
          english: english summary
          japanese: japanese summary
          owaspTopTen2017: "10"
          sourceType: nvd
        envMetricV2s:
        - cdp: ""
          createdAt: 2018-07-14T08:13:28Z
          cveID: CVE-2018-1234
          roleID: 1
          roleName: roleName
          td: ""
          updatedAt: 2018-07-14T08:13:28Z
        - cdp: ""
          createdAt: 2018-07-14T08:13:28Z
          cveID: CVE-2018-1234
          roleID: 1
          roleName: roleName
          td: ""
          updatedAt: 2018-07-14T08:13:28Z
        - cdp: ""
          createdAt: 2018-07-14T08:13:28Z
          cveID: CVE-2018-1234
          roleID: 1
          roleName: roleName
          td: ""
          updatedAt: 2018-07-14T08:13:28Z
        envMetricV3s:
        - createdAt: 2018-07-14T08:13:28Z
          cveID: CVE-2018-1234
          ma: ""
          mac: ""
          mav: ""
          mc: ""
          mpr: ""
          ms: ""
          mui: ""
          roleID: 1
          roleName: roleName
          updatedAt: 2018-07-14T08:13:28Z
        - createdAt: 2018-07-14T08:13:28Z
          cveID: CVE-2018-1234
          ma: ""
          mac: ""
          mav: ""
          mc: ""
          mpr: ""
          ms: ""
          mui: ""
          roleID: 1
          roleName: roleName
          updatedAt: 2018-07-14T08:13:28Z
        - createdAt: 2018-07-14T08:13:28Z
          cveID: CVE-2018-1234
          ma: ""
          mac: ""
          mav: ""
          mc: ""
          mpr: ""
          ms: ""
          mui: ""
          roleID: 1
          roleName: roleName
          updatedAt: 2018-07-14T08:13:28Z
        references:
          nvd: https://xxxxxx
        secMetrics:
        - ar: ""
          cr: ""
          createdAt: 2018-07-14T08:13:28Z
          ir: ""
          roleID: 1
          roleName: roleName
          updatedAt: 2018-07-14T08:13:28Z
        - ar: ""
          cr: ""
          createdAt: 2018-07-14T08:13:28Z
          ir: ""
          roleID: 1
          roleName: roleName
          updatedAt: 2018-07-14T08:13:28Z
        serverOsFamilies:
        - Est est.
        - Dolor natus.
        - Dolores reiciendis exercitationem labore dolor.
        - Magnam odit sapiente.
        tmpMetricV2:
          createdAt: 2018-07-14T08:13:28Z
          e: ""
          rc: ""
          rl: ""
          updatedAt: 2018-07-14T08:13:28Z
        tmpMetricV3:
          createdAt: 2018-07-14T08:13:28Z
          e: ""
          rc: ""
          rl: ""
          updatedAt: 2018-07-14T08:13:28Z
        updatedAt: 2018-07-14T08:13:28Z
      properties:
        advisories:
          description: advisory of cve
          example:
          - advisoryID: advisoryID
            osFamily: redhat
          - advisoryID: advisoryID
            osFamily: redhat
          - advisoryID: advisoryID
            osFamily: redhat
          items:
            $ref: '#/components/schemas/AdvisoryResponseBody'
          type: array
        createdAt:
          description: created time
          example: 2018-07-14T08:13:28Z
          format: date-time
          type: string
        cveID:
          description: Cve ID string of cve
          example: CVE-2018-1234
          type: string
        cvss:
          description: cvss of cve
          example: Unde dolorum distinctio voluptatem nemo ut.
          format: binary
          type: string
        cwes:
          description: cwes of cve
          example:
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          items:
            $ref: '#/components/schemas/CweResponseBody'
          type: array
        envMetricV2s:
          description: envMetricV2 of cve
          example:
          - cdp: ""
            createdAt: 2018-07-14T08:13:28Z
            cveID: CVE-2018-1234
            roleID: 1
            roleName: roleName
            td: ""
            updatedAt: 2018-07-14T08:13:28Z
          - cdp: ""
            createdAt: 2018-07-14T08:13:28Z
            cveID: CVE-2018-1234
            roleID: 1
            roleName: roleName
            td: ""
            updatedAt: 2018-07-14T08:13:28Z
          items:
            $ref: '#/components/schemas/EnvMetricV2ResponseBody'
          type: array
        envMetricV3s:
          description: envMetricV3 of cve
          example:
          - createdAt: 2018-07-14T08:13:28Z
            cveID: CVE-2018-1234
            ma: ""
            mac: ""
            mav: ""
            mc: ""
            mpr: ""
            ms: ""
            mui: ""
            roleID: 1
            roleName: roleName
            updatedAt: 2018-07-14T08:13:28Z
          - createdAt: 2018-07-14T08:13:28Z
            cveID: CVE-2018-1234
            ma: ""
            mac: ""
            mav: ""
            mc: ""
            mpr: ""
            ms: ""
            mui: ""
            roleID: 1
            roleName: roleName
            updatedAt: 2018-07-14T08:13:28Z
          items:
            $ref: '#/components/schemas/EnvMetricV3ResponseBody'
          type: array
        references:
          additionalProperties:
            example: Culpa explicabo sunt omnis cum unde.
            type: string
          description: references of cve
          example:
            nvd: https://xxxxxx
          type: object
        secMetrics:
          description: secMetric of cve
          example:
          - ar: ""
            cr: ""
            createdAt: 2018-07-14T08:13:28Z
            ir: ""
            roleID: 1
            roleName: roleName
            updatedAt: 2018-07-14T08:13:28Z
          - ar: ""
            cr: ""
            createdAt: 2018-07-14T08:13:28Z
            ir: ""
            roleID: 1
            roleName: roleName
            updatedAt: 2018-07-14T08:13:28Z
          - ar: ""
            cr: ""
            createdAt: 2018-07-14T08:13:28Z
            ir: ""
            roleID: 1
            roleName: roleName
            updatedAt: 2018-07-14T08:13:28Z
          items:
            $ref: '#/components/schemas/SecMetricResponseBody'
          type: array
        serverOsFamilies:
          description: serverOsFamilies of cve
          example:
          - Odit suscipit suscipit.
          - Dolor reiciendis.
          - Est accusamus et repudiandae.
          - Illum atque dicta sapiente optio commodi.
          items:
            example: Provident minima.
            type: string
          type: array
        tmpMetricV2:
          $ref: '#/components/schemas/TmpMetricResponseBody'
        tmpMetricV3:
          $ref: '#/components/schemas/TmpMetricResponseBody'
        updatedAt:
          description: updated time
          example: 2018-07-14T08:13:28Z
          format: date-time
          type: string
      required:
      - createdAt
      - cveID
      - cvss
      - cwes
      - envMetricV2s
      - envMetricV3s
      - references
      - secMetrics
      - serverOsFamilies
      - tmpMetricV2
      - tmpMetricV3
      - updatedAt
      title: CveGetCveDetailResponseBody
      type: object
    CveGetCveListResponseBody:
      example:
        cves:
        - advisoryIDs:
          - advisoryID
          allTaskCount: 100
          createdAt: 2018-07-14T08:13:28Z
          cveID: CVE-2018-1234
          cwes:
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          hasExploit: true
          hasMitigation: true
          hasWorkaround: true
          isNotActive: true
          isOwaspTopTen2017: true
          maxV2: 9
          maxV3: 9
          newTaskCount: 10
          scoreV2s:
            nvd: 9
            redhat: 7
          scoreV3s:
            nvd: 8
            redhat: 9
          title: title
          topicCount: 10
          topicLastUpdatedAt: 2018-07-14T08:13:28Z
          updatedAt: 2018-07-14T08:13:28Z
          vectorV2s:
            jvn: AV:L/AC:M/Au:N/C:C/I:N/A:N
            nvd: AV:L/AC:M/Au:N/C:C/I:N/A:N
          vectorV3s:
            jvn: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
            nvd: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
        - advisoryIDs:
          - advisoryID
          allTaskCount: 100
          createdAt: 2018-07-14T08:13:28Z
          cveID: CVE-2018-1234
          cwes:
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          hasExploit: true
          hasMitigation: true
          hasWorkaround: true
          isNotActive: true
          isOwaspTopTen2017: true
          maxV2: 9
          maxV3: 9
          newTaskCount: 10
          scoreV2s:
            nvd: 9
            redhat: 7
          scoreV3s:
            nvd: 8
            redhat: 9
          title: title
          topicCount: 10
          topicLastUpdatedAt: 2018-07-14T08:13:28Z
          updatedAt: 2018-07-14T08:13:28Z
          vectorV2s:
            jvn: AV:L/AC:M/Au:N/C:C/I:N/A:N
            nvd: AV:L/AC:M/Au:N/C:C/I:N/A:N
          vectorV3s:
            jvn: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
            nvd: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
        paging:
          limit: 20
          offset: 10
          page: 1
          totalCount: 200
          totalPage: 10
      properties:
        cves:
          description: Cves list
          example:
          - advisoryIDs:
            - advisoryID
            allTaskCount: 100
            createdAt: 2018-07-14T08:13:28Z
            cveID: CVE-2018-1234
            cwes:
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            hasExploit: true
            hasMitigation: true
            hasWorkaround: true
            isNotActive: true
            isOwaspTopTen2017: true
            maxV2: 9
            maxV3: 9
            newTaskCount: 10
            scoreV2s:
              nvd: 9
              redhat: 7
            scoreV3s:
              nvd: 8
              redhat: 9
            title: title
            topicCount: 10
            topicLastUpdatedAt: 2018-07-14T08:13:28Z
            updatedAt: 2018-07-14T08:13:28Z
            vectorV2s:
              jvn: AV:L/AC:M/Au:N/C:C/I:N/A:N
              nvd: AV:L/AC:M/Au:N/C:C/I:N/A:N
            vectorV3s:
              jvn: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
              nvd: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
          - advisoryIDs:
            - advisoryID
            allTaskCount: 100
            createdAt: 2018-07-14T08:13:28Z
            cveID: CVE-2018-1234
            cwes:
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            hasExploit: true
            hasMitigation: true
            hasWorkaround: true
            isNotActive: true
            isOwaspTopTen2017: true
            maxV2: 9
            maxV3: 9
            newTaskCount: 10
            scoreV2s:
              nvd: 9
              redhat: 7
            scoreV3s:
              nvd: 8
              redhat: 9
            title: title
            topicCount: 10
            topicLastUpdatedAt: 2018-07-14T08:13:28Z
            updatedAt: 2018-07-14T08:13:28Z
            vectorV2s:
              jvn: AV:L/AC:M/Au:N/C:C/I:N/A:N
              nvd: AV:L/AC:M/Au:N/C:C/I:N/A:N
            vectorV3s:
              jvn: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
              nvd: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
          - advisoryIDs:
            - advisoryID
            allTaskCount: 100
            createdAt: 2018-07-14T08:13:28Z
            cveID: CVE-2018-1234
            cwes:
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            hasExploit: true
            hasMitigation: true
            hasWorkaround: true
            isNotActive: true
            isOwaspTopTen2017: true
            maxV2: 9
            maxV3: 9
            newTaskCount: 10
            scoreV2s:
              nvd: 9
              redhat: 7
            scoreV3s:
              nvd: 8
              redhat: 9
            title: title
            topicCount: 10
            topicLastUpdatedAt: 2018-07-14T08:13:28Z
            updatedAt: 2018-07-14T08:13:28Z
            vectorV2s:
              jvn: AV:L/AC:M/Au:N/C:C/I:N/A:N
              nvd: AV:L/AC:M/Au:N/C:C/I:N/A:N
            vectorV3s:
              jvn: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
              nvd: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
          - advisoryIDs:
            - advisoryID
            allTaskCount: 100
            createdAt: 2018-07-14T08:13:28Z
            cveID: CVE-2018-1234
            cwes:
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            - cweID: CWE-416
              english: english summary
              japanese: japanese summary
              owaspTopTen2017: "10"
              sourceType: nvd
            hasExploit: true
            hasMitigation: true
            hasWorkaround: true
            isNotActive: true
            isOwaspTopTen2017: true
            maxV2: 9
            maxV3: 9
            newTaskCount: 10
            scoreV2s:
              nvd: 9
              redhat: 7
            scoreV3s:
              nvd: 8
              redhat: 9
            title: title
            topicCount: 10
            topicLastUpdatedAt: 2018-07-14T08:13:28Z
            updatedAt: 2018-07-14T08:13:28Z
            vectorV2s:
              jvn: AV:L/AC:M/Au:N/C:C/I:N/A:N
              nvd: AV:L/AC:M/Au:N/C:C/I:N/A:N
            vectorV3s:
              jvn: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
              nvd: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
          items:
            $ref: '#/components/schemas/CveListResponseBody'
          type: array
        paging:
          $ref: '#/components/schemas/PagingResponseBody'
      title: CveGetCveListResponseBody
      type: object
    CveListResponseBody:
      example:
        advisoryIDs:
        - advisoryID
        allTaskCount: 100
        createdAt: 2018-07-14T08:13:28Z
        cveID: CVE-2018-1234
        cwes:
        - cweID: CWE-416
          english: english summary
          japanese: japanese summary
          owaspTopTen2017: "10"
          sourceType: nvd
        - cweID: CWE-416
          english: english summary
          japanese: japanese summary
          owaspTopTen2017: "10"
          sourceType: nvd
        hasExploit: true
        hasMitigation: true
        hasWorkaround: true
        isNotActive: true
        isOwaspTopTen2017: true
        maxV2: 9
        maxV3: 9
        newTaskCount: 10
        scoreV2s:
          nvd: 9
          redhat: 7
        scoreV3s:
          nvd: 8
          redhat: 9
        title: title
        topicCount: 10
        topicLastUpdatedAt: 2018-07-14T08:13:28Z
        updatedAt: 2018-07-14T08:13:28Z
        vectorV2s:
          jvn: AV:L/AC:M/Au:N/C:C/I:N/A:N
          nvd: AV:L/AC:M/Au:N/C:C/I:N/A:N
        vectorV3s:
          jvn: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
          nvd: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
      properties:
        advisoryIDs:
          description: advisoryIDs of cve
          example:
          - advisoryID
          items:
            example: Et sit cum animi inventore ex.
            type: string
          type: array
        allTaskCount:
          description: AllTaskCount of cve
          example: 100
          format: int64
          type: integer
        createdAt:
          description: created time
          example: 2018-07-14T08:13:28Z
          format: date-time
          type: string
        cveID:
          description: Cve ID string of cve
          example: CVE-2018-1234
          type: string
        cwes:
          description: cwes of cve
          example:
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          - cweID: CWE-416
            english: english summary
            japanese: japanese summary
            owaspTopTen2017: "10"
            sourceType: nvd
          items:
            $ref: '#/components/schemas/CweResponseBody'
          type: array
        hasExploit:
          description: hasExploit of cve
          example: true
          type: boolean
        hasMitigation:
          description: hasMitigation of cve
          example: true
          type: boolean
        hasWorkaround:
          description: hasWorkaroundof cve
          example: true
          type: boolean
        isNotActive:
          description: Flag of active cve
          example: true
          type: boolean
        isOwaspTopTen2017:
          description: isOwaspTopTen2017 of cve
          example: true
          type: boolean
        maxV2:
          description: maxV2 of cve
          example: 9.0
          format: double
          type: number
        maxV3:
          description: maxV3 of cve
          example: 9.0
          format: double
          type: number
        newTaskCount:
          description: NewTaskCount of cve
          example: 10
          format: int64
          type: integer
        scoreV2s:
          additionalProperties:
            example: 0.23789528192427706
            format: double
            type: number
          description: cvss v2 scores of cve
          example:
            nvd: 9
            redhat: 7
          type: object
        scoreV3s:
          additionalProperties:
            example: 0.19422774721731959
            format: double
            type: number
          description: cvss v3 scores of cve
          example:
            nvd: 8
            redhat: 9
          type: object
        title:
          description: Title of cve
          example: title
          type: string
        topicCount:
          description: topicCount of cve
          example: 10
          format: int64
          type: integer
        topicLastUpdatedAt:
          description: topicLastUpdatedAt of cve
          example: 2018-07-14T08:13:28Z
          format: date-time
          type: string
        updatedAt:
          description: updated time
          example: 2018-07-14T08:13:28Z
          format: date-time
          type: string
        vectorV2s:
          additionalProperties:
            example: Et nemo amet molestias vero.
            type: string
          description: cvss v2 vectors of cve
          example:
            jvn: AV:L/AC:M/Au:N/C:C/I:N/A:N
            nvd: AV:L/AC:M/Au:N/C:C/I:N/A:N
          type: object
        vectorV3s:
          additionalProperties:
            example: Aliquam est et eaque.
            type: string
          description: cvss v3 vectors of cve
          example:
            jvn: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
            nvd: AV:L/AC:H/PR:L/UI:N/S:C/C:H/I:N/A:N
          type: object
      required:
      - allTaskCount
      - createdAt
      - cveID
      - cwes
      - isNotActive
      - isOwaspTopTen2017
      - maxV2
      - maxV3
      - newTaskCount
      - scoreV2s
      - scoreV3s
      - title
      - topicCount
      - topicLastUpdatedAt
      - updatedAt
      - vectorV2s
      - vectorV3s
      title: CveListResponseBody
      type: object
    CweResponseBody:
      description: Cwe describes a cwe
      example:
        cweID: CWE-416
        english: english summary
        japanese: japanese summary
        owaspTopTen2017: "10"
        sourceType: nvd
      properties:
        cweID:
          description: cweID of cwe
          example: CWE-416
          type: string
        english:
          description: english summary of cwe
          example: english summary
          type: string
        japanese:
          description: japanese summary of cwe
          example: japanese summary
          type: string
        owaspTopTen2017:
          description: 'owaspTopTen2017 of cwe '
          example: "10"
          type: string
        sourceType:
          description: sourceType of cwe
          example: nvd
          type: string
      required:
      - cweID
      - english
      - japanese
      - sourceType
      title: CweResponseBody
      type: object
    DetectionMethod ResponseBody:
      example:
        name: vuls
        reliabilityScore: 100
      properties:
        name:
          description: Detection Method Name
          example: vuls
          type: string
        reliabilityScore:
          description: ReliabilityScore
          example: 100
          format: int64
          type: integer
      required:
      - name
      - reliabilityScore
      title: DetectionMethod ResponseBody
      type: object
    DetectionToolResponseBody:
      example:
        name: changelog
        patchAppliedAt: 2018-07-14T08:13:28Z
      properties:
        name:
          description: Detection Tool Name
          example: changelog
          type: string
        patchAppliedAt:
          description: PatchAppliedAt
          example: 2018-07-14T08:13:28Z
          format: date-time
          type: string
      required:
      - name
      title: DetectionToolResponseBody
      type: object
    EnvMetricV2ResponseBody:
      description: EnvMetricV2 describes a envMetricV2
      example:
        cdp: ""
        createdAt: 2018-07-14T08:13:28Z
        cveID: CVE-2018-1234
        roleID: 1
        roleName: roleName
        td: ""
        updatedAt: 2018-07-14T08:13:28Z
      properties:
        cdp:
          description: CDP of envMetricV2
          example: ""
          type: string
        createdAt:
          description: created time
          example: 2018-07-14T08:13:28Z
          format: date-time
          type: string
        cveID:
          description: CveID of envMetricV2
          example: CVE-2018-1234
          type: string
        roleID:
          description: ServerRoleID of envMetricV2
          example: 1
          format: int64
          type: integer
        roleName:
          description: ServerRoleName of envMetricV2
          example: roleName
          type: string
        td:
          description: TD of envMetricV2
          example: ""
          type: string
        updatedAt:
          description: updated time
          example: 2018-07-14T08:13:28Z
          format: date-time
          type: string
      required:
      - cdp
      - createdAt
      - cveID
      - roleID
      - roleName
      - td
      - updatedAt
      title: EnvMetricV2ResponseBody
      type: object
    EnvMetricV3ResponseBody:
      description: EnvMetricV3 describes a envMetricV3
      example:
        createdAt: 2018-07-14T08:13:28Z
        cveID: CVE-2018-1234
        ma: ""
        mac: ""
        mav: ""
        mc: ""
        mpr: ""
        ms: ""
        mui: ""
        roleID: 1
        roleName: roleName
        updatedAt: 2018-07-14T08:13:28Z
      properties:
        createdAt:
          description: created time
          example: 2018-07-14T08:13:28Z
          format: date-time
          type: string
        cveID:
          description: CveID of envMetricV3
          example: CVE-2018-1234
          type: string
        ma:
          description: MA of envMetricV3
          example: ""
          type: string
        mac:
          description: MAC of envMetricV3
          example: ""
          type: string
        mav:
          description: MAV of envMetricV3
          example: ""
          type: string
        mc:
          description: MC of envMetricV3
          example: ""
          type: string
        mpr:
          description: MPR of envMetricV3
          example: ""
          type: string
        ms:
          description: MS of envMetricV3
          example: ""
          type: string
        mui:
          description: MUI of envMetricV3
          example: ""
          type: string
        roleID:
          description: ServerRoleID of envMetricV3
          example: 1
          format: int64
          type: integer
        roleName:
          description: ServerRoleName of envMetricV3
          example: roleName
          type: string
        updatedAt:
          description: updated time
          example: 2018-07-14T08:13:28Z
          format: date-time
          type: string
      required:
      - createdAt
      - cveID
      - ma
      - mac
      - mav
      - mc
      - mpr
      - ms
      - mui
      - roleID
      - roleName
      - updatedAt
      title: EnvMetricV3ResponseBody
      type: object
    LibraryPkgChildResponseBody:
      example:
        createdAt: 2018-07-14T08:13:28Z
        id: 1
        name: package01
        updatedAt: 2018-07-14T08:13:28Z
        version: "1.0"
      properties:
        createdAt:
          description: crated time of package or cpe
          example: 2018-07-14T08:13:28Z
          format: date-time
          type: string
        id:
          description: ID of library package
          example: 1
          format: int64
          type: integer
        name:
          description: Name of library package
          example: package01
          type: string
        updatedAt:
          description: updated time of package or cpe
          example: 2018-07-14T08:13:28Z
          format: date-time
          type: string
        version:
          description: Version of library package
          example: "1.0"
          type: string
      required:
      - createdAt
      - id
      - name
      - updatedAt
      - version
      title: LibraryPkgChildResponseBody
      type: object
    LockfileAddLockfileRequestBody:
      example:
        fileContent: ""
        path: /FutureVuls/package.json
        serverID: 1
      properties:
        fileContent:
          description: fileContent of the lockfile
          example: ""
          type: string
        path:
          description: Path of lockfile
          example: /FutureVuls/package.json
          type: string
        serverID:
          description: ServerID
          example: 1
          format: int64
          type: integer
      required:
      - fileContent
      - path
      - serverID
      title: LockfileAddLockfileRequestBody
      type: object
    LockfileAddLockfileResponseBody:
      example:
        createdAt: 2018-07-14T08:13:28Z
        fileContent: ""
        id: 1
        libraryPkgs:
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        path: /FutureVuls/package.json
        server:
          createdAt: 2018-07-14T08:13:28Z
          defaultUserId: 1
          defaultUserName: vuls user
          hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
          id: 1
          lastScannedAt: 2018-07-14T08:13:28Z
          lastUploadedAt: 2018-07-14T08:13:28Z
          needKernelRestart: true
          osFamily: centos
          osVersion: "6"
          serverName: server01
          serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
          serverroleId: 1
          serverroleName: server_role01
          tags:
          - Fugit repellendus illo.
          - Aperiam ipsa voluptate autem unde.
          - Fuga accusamus aut.
          updatedAt: 2018-07-14T08:13:28Z
        updatedAt: 2018-07-14T08:13:28Z
      properties:
        createdAt:
          description: created time of lockfile
          example: 2018-07-14T08:13:28Z
          type: string
        fileContent:
          description: FileContent of lockfile
          example: ""
          type: string
        id:
          description: ID of lockfile
          example: 1
          format: int64
          type: integer
        libraryPkgs:
          description: LibraryPkgs of lockfile
          example:
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          items:
            $ref: '#/components/schemas/LibraryPkgChildResponseBody'
          type: array
        path:
          description: Path of lockfile
          example: /FutureVuls/package.json
          type: string
        server:
          $ref: '#/components/schemas/ServerChildResponseBody'
        updatedAt:
          description: updated time of lockfile
          example: 2018-07-14T08:13:28Z
          type: string
      required:
      - createdAt
      - fileContent
      - id
      - path
      - updatedAt
      title: LockfileAddLockfileResponseBody
      type: object
    LockfileGetLockfileDetailResponseBody:
      example:
        createdAt: 2018-07-14T08:13:28Z
        fileContent: ""
        id: 1
        libraryPkgs:
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        path: /FutureVuls/package.json
        server:
          createdAt: 2018-07-14T08:13:28Z
          defaultUserId: 1
          defaultUserName: vuls user
          hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
          id: 1
          lastScannedAt: 2018-07-14T08:13:28Z
          lastUploadedAt: 2018-07-14T08:13:28Z
          needKernelRestart: true
          osFamily: centos
          osVersion: "6"
          serverName: server01
          serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
          serverroleId: 1
          serverroleName: server_role01
          tags:
          - Fugit repellendus illo.
          - Aperiam ipsa voluptate autem unde.
          - Fuga accusamus aut.
          updatedAt: 2018-07-14T08:13:28Z
        updatedAt: 2018-07-14T08:13:28Z
      properties:
        createdAt:
          description: created time of lockfile
          example: 2018-07-14T08:13:28Z
          type: string
        fileContent:
          description: FileContent of lockfile
          example: ""
          type: string
        id:
          description: ID of lockfile
          example: 1
          format: int64
          type: integer
        libraryPkgs:
          description: LibraryPkgs of lockfile
          example:
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          items:
            $ref: '#/components/schemas/LibraryPkgChildResponseBody'
          type: array
        path:
          description: Path of lockfile
          example: /FutureVuls/package.json
          type: string
        server:
          $ref: '#/components/schemas/ServerChildResponseBody'
        updatedAt:
          description: updated time of lockfile
          example: 2018-07-14T08:13:28Z
          type: string
      required:
      - createdAt
      - fileContent
      - id
      - path
      - updatedAt
      title: LockfileGetLockfileDetailResponseBody
      type: object
    LockfileGetLockfileListResponseBody:
      example:
        lockfiles:
        - createdAt: 2018-07-14T08:13:28Z
          fileContent: ""
          id: 1
          libraryPkgs:
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          path: /FutureVuls/package.json
          server:
            createdAt: 2018-07-14T08:13:28Z
            defaultUserId: 1
            defaultUserName: vuls user
            hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
            id: 1
            lastScannedAt: 2018-07-14T08:13:28Z
            lastUploadedAt: 2018-07-14T08:13:28Z
            needKernelRestart: true
            osFamily: centos
            osVersion: "6"
            serverName: server01
            serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
            serverroleId: 1
            serverroleName: server_role01
            tags:
            - Fugit repellendus illo.
            - Aperiam ipsa voluptate autem unde.
            - Fuga accusamus aut.
            updatedAt: 2018-07-14T08:13:28Z
          updatedAt: 2018-07-14T08:13:28Z
        - createdAt: 2018-07-14T08:13:28Z
          fileContent: ""
          id: 1
          libraryPkgs:
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          path: /FutureVuls/package.json
          server:
            createdAt: 2018-07-14T08:13:28Z
            defaultUserId: 1
            defaultUserName: vuls user
            hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
            id: 1
            lastScannedAt: 2018-07-14T08:13:28Z
            lastUploadedAt: 2018-07-14T08:13:28Z
            needKernelRestart: true
            osFamily: centos
            osVersion: "6"
            serverName: server01
            serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
            serverroleId: 1
            serverroleName: server_role01
            tags:
            - Fugit repellendus illo.
            - Aperiam ipsa voluptate autem unde.
            - Fuga accusamus aut.
            updatedAt: 2018-07-14T08:13:28Z
          updatedAt: 2018-07-14T08:13:28Z
        - createdAt: 2018-07-14T08:13:28Z
          fileContent: ""
          id: 1
          libraryPkgs:
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          path: /FutureVuls/package.json
          server:
            createdAt: 2018-07-14T08:13:28Z
            defaultUserId: 1
            defaultUserName: vuls user
            hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
            id: 1
            lastScannedAt: 2018-07-14T08:13:28Z
            lastUploadedAt: 2018-07-14T08:13:28Z
            needKernelRestart: true
            osFamily: centos
            osVersion: "6"
            serverName: server01
            serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
            serverroleId: 1
            serverroleName: server_role01
            tags:
            - Fugit repellendus illo.
            - Aperiam ipsa voluptate autem unde.
            - Fuga accusamus aut.
            updatedAt: 2018-07-14T08:13:28Z
          updatedAt: 2018-07-14T08:13:28Z
        - createdAt: 2018-07-14T08:13:28Z
          fileContent: ""
          id: 1
          libraryPkgs:
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          path: /FutureVuls/package.json
          server:
            createdAt: 2018-07-14T08:13:28Z
            defaultUserId: 1
            defaultUserName: vuls user
            hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
            id: 1
            lastScannedAt: 2018-07-14T08:13:28Z
            lastUploadedAt: 2018-07-14T08:13:28Z
            needKernelRestart: true
            osFamily: centos
            osVersion: "6"
            serverName: server01
            serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
            serverroleId: 1
            serverroleName: server_role01
            tags:
            - Fugit repellendus illo.
            - Aperiam ipsa voluptate autem unde.
            - Fuga accusamus aut.
            updatedAt: 2018-07-14T08:13:28Z
          updatedAt: 2018-07-14T08:13:28Z
        paging:
          limit: 20
          offset: 10
          page: 1
          totalCount: 200
          totalPage: 10
      properties:
        lockfiles:
          description: Lockfiles list
          example:
          - createdAt: 2018-07-14T08:13:28Z
            fileContent: ""
            id: 1
            libraryPkgs:
            - createdAt: 2018-07-14T08:13:28Z
              id: 1
              name: package01
              updatedAt: 2018-07-14T08:13:28Z
              version: "1.0"
            - createdAt: 2018-07-14T08:13:28Z
              id: 1
              name: package01
              updatedAt: 2018-07-14T08:13:28Z
              version: "1.0"
            path: /FutureVuls/package.json
            server:
              createdAt: 2018-07-14T08:13:28Z
              defaultUserId: 1
              defaultUserName: vuls user
              hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
              id: 1
              lastScannedAt: 2018-07-14T08:13:28Z
              lastUploadedAt: 2018-07-14T08:13:28Z
              needKernelRestart: true
              osFamily: centos
              osVersion: "6"
              serverName: server01
              serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
              serverroleId: 1
              serverroleName: server_role01
              tags:
              - Fugit repellendus illo.
              - Aperiam ipsa voluptate autem unde.
              - Fuga accusamus aut.
              updatedAt: 2018-07-14T08:13:28Z
            updatedAt: 2018-07-14T08:13:28Z
          - createdAt: 2018-07-14T08:13:28Z
            fileContent: ""
            id: 1
            libraryPkgs:
            - createdAt: 2018-07-14T08:13:28Z
              id: 1
              name: package01
              updatedAt: 2018-07-14T08:13:28Z
              version: "1.0"
            - createdAt: 2018-07-14T08:13:28Z
              id: 1
              name: package01
              updatedAt: 2018-07-14T08:13:28Z
              version: "1.0"
            path: /FutureVuls/package.json
            server:
              createdAt: 2018-07-14T08:13:28Z
              defaultUserId: 1
              defaultUserName: vuls user
              hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
              id: 1
              lastScannedAt: 2018-07-14T08:13:28Z
              lastUploadedAt: 2018-07-14T08:13:28Z
              needKernelRestart: true
              osFamily: centos
              osVersion: "6"
              serverName: server01
              serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
              serverroleId: 1
              serverroleName: server_role01
              tags:
              - Fugit repellendus illo.
              - Aperiam ipsa voluptate autem unde.
              - Fuga accusamus aut.
              updatedAt: 2018-07-14T08:13:28Z
            updatedAt: 2018-07-14T08:13:28Z
          - createdAt: 2018-07-14T08:13:28Z
            fileContent: ""
            id: 1
            libraryPkgs:
            - createdAt: 2018-07-14T08:13:28Z
              id: 1
              name: package01
              updatedAt: 2018-07-14T08:13:28Z
              version: "1.0"
            - createdAt: 2018-07-14T08:13:28Z
              id: 1
              name: package01
              updatedAt: 2018-07-14T08:13:28Z
              version: "1.0"
            path: /FutureVuls/package.json
            server:
              createdAt: 2018-07-14T08:13:28Z
              defaultUserId: 1
              defaultUserName: vuls user
              hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
              id: 1
              lastScannedAt: 2018-07-14T08:13:28Z
              lastUploadedAt: 2018-07-14T08:13:28Z
              needKernelRestart: true
              osFamily: centos
              osVersion: "6"
              serverName: server01
              serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
              serverroleId: 1
              serverroleName: server_role01
              tags:
              - Fugit repellendus illo.
              - Aperiam ipsa voluptate autem unde.
              - Fuga accusamus aut.
              updatedAt: 2018-07-14T08:13:28Z
            updatedAt: 2018-07-14T08:13:28Z
          - createdAt: 2018-07-14T08:13:28Z
            fileContent: ""
            id: 1
            libraryPkgs:
            - createdAt: 2018-07-14T08:13:28Z
              id: 1
              name: package01
              updatedAt: 2018-07-14T08:13:28Z
              version: "1.0"
            - createdAt: 2018-07-14T08:13:28Z
              id: 1
              name: package01
              updatedAt: 2018-07-14T08:13:28Z
              version: "1.0"
            path: /FutureVuls/package.json
            server:
              createdAt: 2018-07-14T08:13:28Z
              defaultUserId: 1
              defaultUserName: vuls user
              hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
              id: 1
              lastScannedAt: 2018-07-14T08:13:28Z
              lastUploadedAt: 2018-07-14T08:13:28Z
              needKernelRestart: true
              osFamily: centos
              osVersion: "6"
              serverName: server01
              serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
              serverroleId: 1
              serverroleName: server_role01
              tags:
              - Fugit repellendus illo.
              - Aperiam ipsa voluptate autem unde.
              - Fuga accusamus aut.
              updatedAt: 2018-07-14T08:13:28Z
            updatedAt: 2018-07-14T08:13:28Z
          items:
            $ref: '#/components/schemas/LockfileListResponseBody'
          type: array
        paging:
          $ref: '#/components/schemas/PagingResponseBody'
      title: LockfileGetLockfileListResponseBody
      type: object
    LockfileListResponseBody:
      example:
        createdAt: 2018-07-14T08:13:28Z
        fileContent: ""
        id: 1
        libraryPkgs:
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        path: /FutureVuls/package.json
        server:
          createdAt: 2018-07-14T08:13:28Z
          defaultUserId: 1
          defaultUserName: vuls user
          hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
          id: 1
          lastScannedAt: 2018-07-14T08:13:28Z
          lastUploadedAt: 2018-07-14T08:13:28Z
          needKernelRestart: true
          osFamily: centos
          osVersion: "6"
          serverName: server01
          serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
          serverroleId: 1
          serverroleName: server_role01
          tags:
          - Fugit repellendus illo.
          - Aperiam ipsa voluptate autem unde.
          - Fuga accusamus aut.
          updatedAt: 2018-07-14T08:13:28Z
        updatedAt: 2018-07-14T08:13:28Z
      properties:
        createdAt:
          description: created time of lockfile
          example: 2018-07-14T08:13:28Z
          type: string
        fileContent:
          description: FileContent of lockfile
          example: ""
          type: string
        id:
          description: ID of lockfile
          example: 1
          format: int64
          type: integer
        libraryPkgs:
          description: LibraryPkgs of lockfile
          example:
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          items:
            $ref: '#/components/schemas/LibraryPkgChildResponseBody'
          type: array
        path:
          description: Path of lockfile
          example: /FutureVuls/package.json
          type: string
        server:
          $ref: '#/components/schemas/ServerChildResponseBody'
        updatedAt:
          description: updated time of lockfile
          example: 2018-07-14T08:13:28Z
          type: string
      required:
      - createdAt
      - fileContent
      - id
      - path
      - updatedAt
      title: LockfileListResponseBody
      type: object
    LockfileUpdateLockfileRequestBody:
      example:
        fileContent: ""
        path: /FutureVuls/package.json
      properties:
        fileContent:
          description: fileContent of the lockfile
          example: ""
          type: string
        path:
          description: Path of lockfile
          example: /FutureVuls/package.json
          type: string
      title: LockfileUpdateLockfileRequestBody
      type: object
    LockfileUpdateLockfileResponseBody:
      example:
        createdAt: 2018-07-14T08:13:28Z
        fileContent: ""
        id: 1
        libraryPkgs:
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        - createdAt: 2018-07-14T08:13:28Z
          id: 1
          name: package01
          updatedAt: 2018-07-14T08:13:28Z
          version: "1.0"
        path: /FutureVuls/package.json
        server:
          createdAt: 2018-07-14T08:13:28Z
          defaultUserId: 1
          defaultUserName: vuls user
          hostUuid: 141df30a-ecd0-39f4-a8f4-1ef216a4b5f2
          id: 1
          lastScannedAt: 2018-07-14T08:13:28Z
          lastUploadedAt: 2018-07-14T08:13:28Z
          needKernelRestart: true
          osFamily: centos
          osVersion: "6"
          serverName: server01
          serverUuid: abcdef12-ecd0-39f4-a8f4-1ef216a4b5f2
          serverroleId: 1
          serverroleName: server_role01
          tags:
          - Fugit repellendus illo.
          - Aperiam ipsa voluptate autem unde.
          - Fuga accusamus aut.
          updatedAt: 2018-07-14T08:13:28Z
        updatedAt: 2018-07-14T08:13:28Z
      properties:
        createdAt:
          description: created time of lockfile
          example: 2018-07-14T08:13:28Z
          type: string
        fileContent:
          description: FileContent of lockfile
          example: ""
          type: string
        id:
          description: ID of lockfile
          example: 1
          format: int64
          type: integer
        libraryPkgs:
          description: LibraryPkgs of lockfile
          example:
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          - createdAt: 2018-07-14T08:13:28Z
            id: 1
            name: package01
            updatedAt: 2018-07-14T08:13:28Z
            version: "1.0"
          items:
            $ref: '#/components/schemas/LibraryPkgChildResponseBody'
          type: array
        path:
          description: Path of lockfile
          example: /FutureVuls/package.json
          type: string
        server:
          $ref: '#/components/schemas/ServerChildResponseBody'
        updatedAt:
          description: updated time of lockfile
          example: 2018-07-14T08:13:28Z
          type: string
      required:
      - createdAt
      - fileContent
      - id
      - path
      - updatedAt
      title: LockfileUpdateLockfileResponseBody
      type: object
    NeedRestartProcResponseBody:
      example:
        initSystem: initSystem
        path: path
        pid: "12"
        serviceName: serviceName
      properties:
        initSystem:
          description: InitSystem of NeedRestartProc
          example: initSystem
          type: string
        path:
          description: Path of NeedRestartProc
          example: path
          type: string
        pid:
          description: PID
          example: "12"
          type: string
        serviceName:
          description: ServiceName of NeedRestartProc
          example: serviceName
          type: string
      required:
      - initSystem
      - path
      - pid
      - serviceName
      title: NeedRestartProcResponseBody
      type: object
    PagingResponseBody:
      description: Paging describes a paging object
      example:
        limit: 20
        offset: 10
        page: 1
        totalCount: 200
        totalPage: 10
      properties:
        limit:
          description: Limit
          example: 20
          format: int64
          type: integer
        offset:
          description: Offset
          example: 10
          format: int64
          type: integer
        page:
          description: Page
          example: 1
          format: int64
          type: integer
        totalCount:
          description: TotalCount
          example: 200
          format: int64
          type: integer
        totalPage:
          description: Total Page Size
          example: 10
          format: int64
          type: integer
      required:
      - limit
      - offset
      - page
      - totalCount
      - totalPage
      title: PagingResponseBody
      type: object
    PkgCpeAddCpeRequestBody:
      example:
        cpeName: cpe:/a:berlios:discussion_forum_2k:3.3
        isURI: true
        serverID: 1
      properties:
        cpeName:
          description: Cpe Name(cpe uri or cpe format string)
          example: cpe:/a:berlios:discussion_forum_2k:3.3
          type: string
        isURI:
          default: true
          description: isURI specifies whether cpeName is in URI format or FormatString
            format.
          example: true
          type: boolean
        serverID:
          description: ServerID
          example: 1
          format: int64
          type: integer
      required:
      - cpeName
      - serverID
      title: PkgCpeAddCpeRequestBody
      type: object
    PkgCpeAddCpeResponseBody:
      example:
[...]
